body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: auto;
    overflow: hidden;
}

h2 {
    text-align: center;
}

.Charcreator {

    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.nome {
    font-size: 29px;
    color: #ff0000;
}

.personagens {
    gap: 20px;
    display:flex;
    background: #ffffff;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    font-weight: bold;
    margin: 8px 0;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px;
    margin: 6px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.listapersonagem {
    gap: 40px;
    padding-top: 20px;
}

button {
    background-color: black;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.botoesLista {
    display: flex;
    gap: 20px;
}

.botoesLista button {
    width: auto;
}